@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
//Landing Page
$home-text-color:rgb(220, 220, 238);
$home-text-size:14px;
$primary-purple:rgba(187, 72, 158, 0.66);
$header-backgroundColor: rgba(21, 21, 43, 0.877);
$components-background:rgba(14, 14, 29, 0.877);

@mixin nav($nav-width) {
    width: $nav-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%link-texts{
    font-size: $home-text-size;
    color: $home-text-color;
    text-decoration: none;
}

%transition{
    transition: all .4s ease;
}

@mixin display($justify:center,$align:center,$flex:flex,$direction:row) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.LandingPage{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/Desktop/LandingPage.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 80px 350px 1fr;
    grid-template-areas:
    'div nav divs'
    'div header divs'
    'div image divs';
    overflow-y: hidden;


    
    .div{
        grid-area: div;
    }
    
    .divs{
        grid-area: divs;
    }
    
    //Nav
    nav{
        grid-area: nav;
        @include display(space-between,center ,flex );
    
        .navOne{
            @include nav($nav-width:18%);
    
            img{
                width: 100px;
                object-fit:cover;
            }
    
            a{
                margin-top: 2px;
                @extend %link-texts;
            }
        }
    
        .navTwo{
            @include nav($nav-width:13%);
    
            a{
                @extend %link-texts;
            }
    
            span{
                width: 70px;
                height: 25px;
                border-radius: 4px;
                border: 1px solid $home-text-color;
                @include display(center,center ,flex );
                @extend %transition;
                cursor: pointer;

                a{
                    font-weight: 500;
                    font-size: 12px;
                }
    
                &:hover{
                    background-color: $primary-purple;
                }
            }
        }
    
    
    }
    
    
    //Header
    header{
        grid-area: header;
        @include display($direction:column);
        gap: 20px;
    
        h2{
            font-size: 2.5rem;
            color: $home-text-color;
            font-weight: 500;
    
            span{
                color: $primary-purple;
            }
        }
    
        p{
            width: 200px;
            font-size: 12px;
            color: $home-text-color;
            text-align: center;
            line-height: 19px
        }
    
        .buttons{
            @include display();
            gap: 30px;
            margin-top: 14px;

            a{
                @extend %link-texts;
            }
    
           .purple{
                background-color: $primary-purple;
                font-size: 10px;
                height: 32px;
                @extend %transition;
    
                &:hover{
                    background-color: rgba(139, 49, 116, 0.625);
                }
            }
    
            .black{
                background-color: rgba(48, 48, 48, 0.752);
                font-size: 10px;
                height: 32px;
                @extend %transition;
                
                &:hover{
                    background-color: rgba(18, 21, 23, 81%);
                }
            }
        }
    }
    
    .LandingImage{
        grid-area: image;
        @include display( );
        img{
            width: 70%;
            object-fit: cover;
        }
    }
}





//Sign In / Sign Up Page

.Sign{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/Desktop/Login.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include display();

    .signIn{
        max-width: 760px;
        height: 350px;
        @include display($direction:column,$justify:unset);
        gap: 30px;

        h3{
            font-size: 27px;
            font-weight: 500;
            color: $home-text-color;
        }

        .authenticate{
            @include display($direction:column,$justify:space-around);
            height: 280px;

            .loginErrors{
                color: $primary-purple;
                font-size: 12px;
                margin-bottom: -20px;
                padding-top: 4px;
            }

            %sign{
                width: 220px;
                height: 35px;
                font-size: 12px;
                background-color: $primary-purple;
                border-radius: 6px;
                @extend %transition;
            }

            #outlined-basic, #outlined-password-input{
                background-color: transparent;
                border: 1px solid $home-text-color;
                @extend %sign;
                height: 5px;
                width: 190px;
                @include display();
                color: $home-text-color;

                &::placeholder{
                    color: $home-text-color;
                }

                &:hover{
                    border: 1px solid $primary-purple;
                    background-color: transparent;
                }

                &:focus{
                    outline: 1px solid red ;
                    border-radius: 5px;
                }

            }
            


            a{
                margin-top: 20px;
                @extend %link-texts;
                
                Button{
                    @extend %sign;
                    text-transform: capitalize;
                    &:hover{
                        background-color: rgba(139, 49, 116, 0.625);
                    }
                }
            }
        }

        p{
            font-size: $home-text-size;
            color: $home-text-color;
            font-size: 12px;
            width: 400px;
            text-align: center;
            span{
                font-weight: 500;

                a{
                    font-weight: 500;
                    color: $home-text-color;
                    text-decoration: none;
                }
            }

     
        }


    }
}


//Dashboard Component
.Dashboard,.Account,.Collections,.Collects,.School,.Personal{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 45px 1fr;
    grid-template-areas: 
    'dashboardHeader dashboardHeader'
    'sidebar otherComponents';
}

//Header Component
.Header{
    grid-area: dashboardHeader;
    @include display(space-between,center , flex, );
    background-color: $header-backgroundColor;
    color: $home-text-color;
    font-size: $home-text-size;
    font-weight: 500;
    box-shadow: 10px 2px 5px #c0bfbf;
    cursor: pointer;
    .headerOne{
        @include display(unset,center , flex, );
        gap: 30px;
        padding-left: 15px;
    
        a{
            @extend %link-texts;
        }

        li{
            @include display(unset,center , flex, );
            gap: 5px;
        }
    }

    .headerTwo{
        padding-right: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        .acc{
            background-color: $primary-purple;
            border-radius: 10px;
            @include display( );
            img{
                width: 35px;
                height: 30px;
            }
        }

    }
    img{
        width: 20px;
        height: 20px;
    }
}




// Sidebar Component
.SideBar{
    grid-area: sidebar;
    position: relative;
    left: 0px;
    background-color: $header-backgroundColor;
    @extend %link-texts;
    animation-duration: .7s;
    
    .sidebarItems{
        height: 100%;
        @include display(unset,unset,flex,column);
        gap: 30px;
        padding-top: 20px;
        padding-left: 30px;
        
        p{
            font-weight: 800;
        }
        a{
            text-decoration: none;
            color: $home-text-color;
            span{
                @include display(unset,center ,flex ,row );
                gap: 10px;
                cursor: pointer;
                font-weight: 500;
                img{
                    width: 35px;
                    height: 30px;
                }
            }
        }
    }
}


//Components @Extend

%componentCover{
    grid-area: otherComponents;
    @include display( $direction:column, $justify:unset);
    width: 100%;
    height: 100%;
    background-color: $components-background;
}

%innerComponentCover{
    margin-top: 50px;
    @include display( $direction:column, $justify:unset,$align:unset);
    gap: 40px;
    width: 400px;
    height: 100%;
}

%componentHeader{
    @extend %link-texts;
    font-size: 19px;
    font-weight: 700;
}

%button{
    background-color: rgba(82, 80, 80, 0.752);
    font-size: 11px;
    height: 32px;
    width: 110px;
    text-transform: capitalize;
    cursor: text;
}

.myAccount{
    @extend %componentCover;

    .accountDets{
        @extend %innerComponentCover;

        .myAccountSpan{
            @include display($justify:unset);
            gap: 10px;

            a{
                background-color: $primary-purple;
                border-radius: 10px;
                @include display( );
                img{
                    width: 35px;
                    height: 30px;
                }
            }

            p{
                @extend %componentHeader;
            }
        }

        .accountImage{
            @include display($justify:unset);
            gap: 10px;
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            p{
                @extend %link-texts;
                font-size: 19px;
                font-weight: 700;
            }
        }

        .accountItems{
            border-radius: 10px;
            height: 250px;
            background-color:rgb(35, 33, 52);
            @include display($align:unset,$justify:space-evenly,$direction:column);
            div{
                @include display($justify:space-between);
                padding-left: 10px;
                padding-right: 10px;

                span{
                    gap: 5px;
                    @include display( $direction:column,$align:start);
                    p:nth-of-type(1){
                        font-size: 12px;
                        font-weight: 600;
                        color: #c0bfbf;
                    }

                    p:nth-of-type(2){
                        @extend %link-texts;
                        font-size: 13px;
                        font-weight: 600;
                    }
                }

                a{
                    @extend %link-texts;
                    .edit{
                        width: 50px;
                        height: 30px;
                        font-size: 11px;
                        background-color:$primary-purple;
                        @extend %transition;

                        &:hover{
                            background-color: rgba(139, 49, 116, 0.625);
                        }
                    }
                }

            }
        }
        .signOut{
            background-color: $primary-purple;
            @extend %link-texts;
            font-size: 11px;
            margin: 0 auto;
            width: 100px;
            @extend %transition;

            &:hover{
                background-color: rgba(139, 49, 116, 0.625);
            }
        }
    }
}



#close{
    animation: sider .7s ease both;
    @keyframes sider {
       from{
        left: 0;
       }
       to{
        left: -250px;
       }
    }
}

#extend{
    grid-template-columns: 0px 1fr;
    grid-template-areas: 
    'dashboardHeader dashboardHeader'
    'otherComponents';
    @extend %transition;
}


.innerDashboard{
    @extend %componentCover;
    
    .dashboardInfo{
        @extend %innerComponentCover;

        h4{
            @extend %componentHeader;

        }

        h2{
            @extend %link-texts;
            font-size: 28px;
            font-weight: 700;
        }

        .black{
            @extend %button;
        }

        .overview{
            border-radius: 12px;
            height: 100px;
            background-color: rgb(35, 33, 52);
            @include display($direction:column, $justify:space-between,$align:unset);

            .overviewHead{
                height: 40px;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                background-color: rgba(99, 99, 137, 0.752);
                @include display($justify:unset,$align:center);
                gap: 10px;
                img{
                    width: 35px;
                    height: 30px;
                }
                p{
                    @extend %link-texts;
                    font-weight: 600;
                }
            }

            .overviewLink{
                border-top: .2px solid rgb(181, 181, 198);
                height: 35px;
                @include display( );
                a {
                    @include display( $justify:unset);
                    gap: 10px;
                    font-size: 12px;
                    font-weight: 700;
                    @extend %link-texts;
                    
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}





//Collections Page

.CollectionDets{
    @extend %componentCover;

    .innerCollectionDets{
        @extend %innerComponentCover;

        h3{
            @extend %componentHeader;
        }

        .black{
            @extend %button;
        }


        .collectionItems{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 8px;
            a{
                text-decoration: none;
                  
                .collects{
                    width: 170px;
                    height: 130px;
                    background-color: rgba(21, 21, 43, 0.46);
                    padding-left: 12px;
                    border-radius: 8px;
                    gap: 2px;
                    @include display($direction:column, $justify:space-evenly,$align:unset);
                    img{
                        width: 35px;
                        height: 30px;
                        margin-bottom: 20px;
                    }

                    p{
                        @extend %link-texts;
                        font-weight: 700;
                        font-size: 14px;
                    }

                    span{
                        @extend %link-texts;
                        font-weight: 600;
                        font-size: 12px;
                        color: #c0bfbf;
                    }
                }
            }

        }
    }
}


.innerSchool{
    @extend %componentCover;

    .schoolDets{
        @extend %innerComponentCover;
        width: 500px;
    }

    .schoolHeader{
        @extend %componentHeader;
        @include display($justify:unset );
        gap: 13px;
        a{
            background-color: $primary-purple;
            border-radius: 10px;
            @include display( );
            img{
                width: 35px;
                height: 30px;
            }
        }
    }

    span:nth-of-type(2){
        @extend %componentHeader;
        @include display($justify:unset );
        gap: 3px;
        img{
            background-color: $primary-purple;
            border-radius: 10px;
            width: 28px;
            height:25x;
            position: absolute;
            z-index: 1;
            margin-left: 7px;
        }

        form{
            width: 100%;
        }

        input{
            padding-left: 45px;
            @extend %link-texts;
            width: 100%;
            height: 40px;
            background-color: $header-backgroundColor;
            outline: none;
            border: .2px solid #c0bfbf;
            border-radius: 15px;
            position: relative;
            z-index: 0;
            &::placeholder{
                color: $home-text-color;
            }
        }
    }
}