@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
//Landing Page
$home-text-color:rgb(220, 220, 238);
$home-text-size:14px;
$primary-purple:rgba(187, 72, 158, 0.66);


@mixin nav($nav-width) {
    width: $nav-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%link-texts{
    font-size: $home-text-size;
    color: $home-text-color;
    text-decoration: none;
}

%transition{
    transition: all .4s ease;
}

@mixin display($justify:center,$align:center,$flex:flex,$direction:row) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.LandingPage{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/Desktop/LandingPage.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 80px 350px 1fr;
    grid-template-areas:
    'div nav divs'
    'div header divs'
    'div image divs';
    overflow-y: hidden;


    
    .div{
        grid-area: div;
    }
    
    .divs{
        grid-area: divs;
    }
    
    //Nav
    nav{
        grid-area: nav;
        @include display(space-between,center ,flex );
    
        .navOne{
            @include nav($nav-width:18%);
    
            img{
                width: 100px;
                object-fit:cover;
            }
    
            a{
                margin-top: 2px;
                @extend %link-texts;
            }
        }
    
        .navTwo{
            @include nav($nav-width:13%);
    
            a{
                @extend %link-texts;
            }
    
            span{
                width: 70px;
                height: 25px;
                border-radius: 4px;
                border: 1px solid $home-text-color;
                @include display(center,center ,flex );
                @extend %transition;
                cursor: pointer;

                a{
                    font-weight: 500;
                    font-size: 12px;
                }
    
                &:hover{
                    background-color: $primary-purple;
                }
            }
        }
    
    
    }
    
    
    //Header
    header{
        grid-area: header;
        @include display($direction:column);
        gap: 20px;
    
        h2{
            font-size: 2.5rem;
            color: $home-text-color;
            font-weight: 500;
    
            span{
                color: $primary-purple;
            }
        }
    
        p{
            width: 200px;
            font-size: 12px;
            color: $home-text-color;
            text-align: center;
            line-height: 19px
        }
    
        .buttons{
            @include display();
            gap: 30px;
            margin-top: 14px;

            a{
                @extend %link-texts;
            }
    
           .purple{
                background-color: $primary-purple;
                font-size: 10px;
                height: 32px;
                @extend %transition;
    
                &:hover{
                    background-color: rgba(139, 49, 116, 0.625);
                }
            }
    
            .black{
                background-color: rgba(48, 48, 48, 0.752);
                font-size: 10px;
                height: 32px;
                @extend %transition;
                
                &:hover{
                    background-color: rgba(18, 21, 23, 81%);
                }
            }
        }
    }
    
    .LandingImage{
        grid-area: image;
        @include display( );
        img{
            width: 70%;
            object-fit: cover;
        }
    }
}





//Sign In / Sign Up Page

.Sign{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/Desktop/Login.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include display();

    .signIn{
        max-width: 760px;
        height: 350px;
        @include display($direction:column,$justify:unset);
        gap: 30px;

        h3{
            font-size: 27px;
            font-weight: 500;
            color: $home-text-color;
        }

        .authenticate{
            @include display($direction:column,$justify:space-around);
            height: 280px;

            .loginErrors{
                color: $primary-purple;
                font-size: 12px;
                margin-bottom: -20px;
                padding-top: 4px;
            }

            %sign{
                width: 220px;
                height: 35px;
                font-size: 12px;
                background-color: $primary-purple;
                border-radius: 6px;
                @extend %transition;
            }

            #outlined-basic, #outlined-password-input{
                background-color: transparent;
                border: 1px solid $home-text-color;
                @extend %sign;
                height: 5px;
                width: 190px;
                @include display();
                color: $home-text-color;

                &::placeholder{
                    color: $home-text-color;
                }

                &:hover{
                    border: 1px solid $primary-purple;
                    background-color: transparent;
                }

                &:focus{
                    outline: 1px solid red ;
                    border-radius: 5px;
                }

            }
            


            a{
                margin-top: 20px;
                @extend %link-texts;
                
                Button{
                    @extend %sign;
                    text-transform: capitalize;
                    &:hover{
                        background-color: rgba(139, 49, 116, 0.625);
                    }
                }
            }
        }

        p{
            font-size: $home-text-size;
            color: $home-text-color;
            font-size: 12px;
            width: 400px;
            text-align: center;
            span{
                font-weight: 500;

                a{
                    font-weight: 500;
                    color: $home-text-color;
                    text-decoration: none;
                }
            }

     
        }


    }
}